<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>ContactForm</title>
</head>
<body>
<div class="row">
    <div class="col m6 offset-m3">
        <h3>Contact-Form</h3>
        <div class="col s12"><label for="firstname">FirstName: </label>
            <input type="text" id="firstname" th:placeholder="${contacts[id].firstName}"></div>

        <div class="col s12"><label for="lastname">LastName: </label>
            <input type="text" id="lastname" th:placeholder="${contacts[id].lastName}"></div>

        <div class="col s12"><label for="age">Age: </label>
            <input type="number" id="age" th:placeholder="${contacts[id].age}"></div>
        <a th:href="'/save-contact'" class="secondary-content">
            <div class="col s12">
                <i class="material-icons blue-text">save</i>
            </div>
        </a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>